@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;600;700&family=Space+Mono:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

html, body{
    width: 375px;
    min-height: 100vh;
    background-color: white;
    color:rgb(44, 44, 44);
}

h1 {
   margin-bottom: 20px; 
   font-family: 'Space Mono', monospace;
   font-weight: 700;
   font-size: 45px;
}

h4 {
    font-family: 'Inconsolata', monospace;
    font-size: 25px;
}

p {
    font-family: 'Space Mono', monospace;
    font-size: 18px;
    font-weight: 400;
    color:rgb(71, 71, 71)
}

button {
    margin: 60px 0;
    color: whitesmoke;
    background-color: rgb(44, 44, 44);
    padding: 25px 30px;
    border: none;
}

footer {
    margin: 20px;
    color: lightgrey;
    font-family: sans-serif; 
    font-weight: 200;
    text-align: center;
    letter-spacing: .5px;
    font-size: 14px;
}

span {
    text-decoration: underline;
    font-weight: 500;
}

.container {
    width: 350px;
    margin: 20px auto;
    padding-left: 20px;
    padding-bottom: 20px;
    /* background-color: thistle; */
}

.main-content>img {
    width: 300px;
    margin: 50px 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (min-width: 992px) {
    html, body {
        min-width: 100vw;
        min-height: 100vh;
    }

    h4{
        font-size: 20px;
    }
    
    .container {
        width: 992px;
        padding: 20px;
        /* background-color: thistle; */
    }

    .main-content {
        display: flex;
        margin: 70px 50px;
    }

    .main-content img {
        width: 50%;
    }

    .main-content .text {
        width: 50%;
        margin: 50px;
    }
}